* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0D1117;
    color: white;
}

hr {
    border: none;
    height: 5px;
    background-color: #151B23;
}

.content {
    max-width: 1280px;
    margin: auto;
}

/* Header */
header {
    background-color: #000;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    align-items: center;
    height: 100px;
}

header .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header .logo a {
    margin-right: 5px;
}

header .logo img {
    transform: rotate(0);
    transition: 1s;
    width: 100px;
}

header .logo img:hover {
    transform: rotate(360deg);
}

header .navbar {
    display: flex;
    justify-content: center;
}

header .navbar form {
    display: flex;
    width: 100%;
    max-width: 500px;
}

header .navbar .navbar-input {
    width: 100%;
    height: 20px;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #212830;
    margin-right: 0;
    background-color: #0D1117;
    color: #fff;
}

header .navbar .navbar-btn {
    width: 32px;
    height: 32px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

header .navbar .navbar-btn img {
    width: 100%;
}

/* Inicio */
#inicio {
    background-color: #212830;
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 10px;
    margin: 60px 20px 20px;
    border-radius: 10px;
}

#inicio .imagem {
    padding: 10px;
}

#inicio .imagem .png {
    width: 100%;
    position: relative;
    bottom: 50px;
}

#inicio .imagem .poster {
    display: none;
}

#inicio .resumo {
    padding: 20px;
}

#inicio .resumo h1 {
    text-align: center;
}

#inicio nav {
    margin: 0 auto;
}

#inicio ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
}

#inicio button {
    font-size: 1.2em;
    margin: 10px;
    padding: 10px 15px;
    background-color: #0D1117;
    border-radius: 40px;
    border: none;
    color: white;
}

#inicio button.active,
#inicio button:hover {
    color: #1F6FEB;
    cursor: pointer;
}

#inicio .resumo p {
    margin-top: 0.5em;
}

#inicio .resumo #notas {
    display: flex;
}

#inicio .resumo #notas .nota {
    flex-basis: 33%;
    display: grid;
    justify-items: center;
    border: 2px solid #000000;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    transform: scale(1);
    transition: 1s;
}

#inicio .resumo #notas .nota:hover {
    transform: scale(1.05);
    border: 2px solid #fff;
}

#inicio .resumo #notas .nota:not(:last-child) {
    margin-right: 10px;
}

#inicio .resumo #notas .nota h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

#inicio .resumo #notas .nota h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

#inicio .resumo #notas .nota img {
    width: 100%;
    filter: invert(100%);
}

#sinop-trailer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 20px;
}

#sinop-trailer .sinopse,
#sinop-trailer .trailer {
    background-color: #212830;
    border-radius: 10px;
    min-height: 250px;
}

#sinop-trailer .sinopse {
    margin-right: 10px;
    padding: 20px;
    box-sizing: border-box;
}

#sinop-trailer .sinopse p {
    margin-top: 10px;
    line-height: 1.4em;
}

#sinop-trailer .trailer iframe {
    border-radius: 10px;
}

#analises {
    background-color: #212830;
    margin: 20px 20px;
    border-radius: 10px;
    padding: 20px;
}

#analises .blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

#analises .blocks .block-4 {
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 10px;
    transform: scale(1);
    transition: 1s;
}

#analises .blocks .block-4:hover {
    transform: scale(1.05);
    border: 2px solid #fff;
}

#analises .blocks .block-4 img {
    width: 100px;
    filter: invert(100%);
    margin: 5px 0;
}

#analises .blocks .block-4 p {
    line-height: 1.4em;
}

#curios-fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 20px;
}

#curios-fotos .curiosidades,
#curios-fotos .fotos {
    background-color: #212830;
    border-radius: 10px;
    padding: 20px;
}

#curios-fotos .curiosidades h2 {
    margin-bottom: 10px;
}

#curios-fotos .curiosidades p {
    margin: 10px 0;
    line-height: 1.4em;
}

#curios-fotos .curiosidades hr {
    height: 2px;
    margin-bottom: 10px;
}

#curios-fotos .fotos h2 {
    margin-bottom: 10px;
}

#curios-fotos .fotos .grid-fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#curios-fotos .fotos .grid-fotos img {
    width: 100%;
    border-radius: 10px;
}

/* Responsividade */

@media (max-width: 575.98px) {
    * {
        box-sizing: border-box;
    }

    header .logo h1 {
        display: none;
    }

    header .logo img {
        width: 50px;
    }

    header .navbar {
        grid-column: 2 / -1;
    }

    header .navbar .navbar-input {
        height: 32px;
    }

    #inicio {
        margin: 20px 10px;
    }

    #inicio .imagem {
        grid-column: 1 / -1;
    }

    #inicio .imagem .png {
        display: none;
    }

    #inicio .imagem .poster {
        display: block;
        width: 100%;
        border-radius: 10px;
    }

    #inicio nav {
        display: none;
    }

    #inicio .resumo {
        grid-column: 1 / -1;
        padding: 5px 20px 20px 20px;
    }

    #inicio .resumo h1 {
        margin-bottom: 10px;
    }

    #inicio .resumo #notas {
        display: grid;
    }

    #inicio .resumo #notas .nota:not(:last-child) {
        margin-right: 0;
    }

    #sinop-trailer {
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 20px 10px;
    }

    #sinop-trailer .sinopse {
        margin-right: 0;
    }

    #analises {
        margin: 20px 10px;
    }
    
    #analises .blocks {
        grid-template-columns: 1fr;
    }

    #curios-fotos {
        grid-template-columns: 1fr;
        margin: 0 10px;
    }

    #curios-fotos .fotos .grid-fotos {
        grid-template-columns: 1fr;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    * {
        box-sizing: border-box;
    }

    header .logo img {
        width: 50px;
    }

    header .navbar {
        grid-column: 2 / -1;
    }

    header .navbar .navbar-input {
        height: 32px;
    }

    #inicio {
        margin: 20px 10px;
    }

    #inicio .imagem {
        grid-column: 1 / -1;
    }

    #inicio .imagem .png {
        display: none;
    }

    #inicio .imagem .poster {
        display: block;
        width: 100%;
        border-radius: 10px;
    }

    #inicio nav {
        display: none;
    }

    #inicio .resumo {
        grid-column: 1 / -1;
        padding: 5px 20px 20px 20px;
    }

    #inicio .resumo h1 {
        margin-bottom: 10px;
    }

    #inicio .resumo #notas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    #inicio .resumo #notas .nota:not(:last-child) {
        margin-right: 0;
    }

    #sinop-trailer {
        grid-template-columns: 1fr;
        grid-template-rows: auto 400px;
        gap: 10px;
        margin: 20px 10px;
    }

    #sinop-trailer .sinopse {
        margin-right: 0;
    }

    #analises {
        margin: 20px 10px;
    }
    
    #analises .blocks {
        grid-template-columns: 1fr 1fr;
    }

    #curios-fotos {
        grid-template-columns: 1fr;
        margin: 0 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    * {
        box-sizing: border-box;
    }

    header .logo img {
        width: 50px;
    }

    header .navbar {
        grid-column: 2 / -1;
    }

    header .navbar .navbar-input {
        height: 32px;
    }

    #inicio {
        margin: 20px 10px;
    }

    #inicio .imagem {
        grid-column: 1 / -1;
    }

    #inicio .imagem .png {
        display: none;
    }

    #inicio .imagem .poster {
        display: block;
        width: 100%;
        border-radius: 10px;
    }

    #inicio nav {
        display: none;
    }

    #inicio .resumo {
        grid-column: 1 / -1;
        padding: 5px 20px 20px 20px;
    }

    #inicio .resumo h1 {
        margin-bottom: 10px;
    }

    #inicio .resumo #notas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    #inicio .resumo #notas .nota:not(:last-child) {
        margin-right: 0;
    }

    #sinop-trailer {
        grid-template-columns: 1fr;
        grid-template-rows: auto 400px;
        gap: 10px;
        margin: 20px 10px;
    }

    #sinop-trailer .sinopse {
        margin-right: 0;
    }

    #analises {
        margin: 20px 10px;
    }
    
    #analises .blocks {
        grid-template-columns: 1fr 1fr;
    }

    #curios-fotos {
        grid-template-columns: 1fr;
        margin: 0 10px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #inicio {
        grid-template-columns: 4fr 6fr;
    }

    #inicio .resumo {
        margin: auto;
    }

    #inicio ul {
        flex-wrap: wrap;
    }

    #inicio .imagem {
        margin: auto;
    }
    #inicio .imagem .png {
        display: none;
    }

    #inicio .imagem .poster {
        display: block;
        width: 100%;
        border-radius: 10px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}