* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0D1117;
    color: white;
}

.super {
    max-width: 1280px;
    display: grid;
    margin: auto;
}

hr {
    border: none;
    height: 3px;
    background-color: #151B23;
    margin-bottom: 10px;
}

/* Header */
header {
    background-color: #000;
    padding: 20px;
    display: flex;
    align-items: center;
}

header img {
    margin-right: 10px;
    transform: rotate(0);
    transition: 1s;
}

header img:hover {
    transform: rotate(360deg);
}

/* Content */
.content {
    display: flex;
    margin: 70px 30px 20px;
    padding: 20px;
    background-color: #212830;
    border-radius: 15px;
}

.content:not(:first-child) {
    margin: 20px 30px;
}

.image {
    flex-basis: 30%;
    margin-right: 20px;
    position: relative;
}

.image img {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.block {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

.block nav {
    margin: 0 auto;
    text-align: center;
}

.block ul {
    list-style: none;
    display: flex;
    margin: auto;
}

.block button {
    font-size: 1.2em;
    margin: 10px;
    padding: 10px 15px;
    background-color: #0D1117;
    border-radius: 40px;
    border: none;
    color: white;
}

.block button.active, .block button:hover {
    color: #1F6FEB;
    cursor: pointer;
}

#home p {
    line-height: 1.7em;
}

#home #notas {
    display: flex;
}

#home #notas .nota {
    flex-basis: 33%;
    border: 2px solid #0D1117;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
}

#home #notas .nota .nome {
    font-size: 1.2em;
    font-weight: bold;
}

#home #notas .nota .numero {
    font-size: 1.5em;
    font-weight: bold;
}

#home #notas img {
    width: 70%;
    filter: invert(100%);
}

#sinopse p {
    margin-top: 10px;
    line-height: 1.3em;
}

#trailer {
    width: 100%;
}

#trailer h2 {
    margin-bottom: 10px;
}

.content-2 {
    display: block;
}

#analises {
    display: flex;
}

.block-3 {
    margin: 10px 20px;
    flex-basis: 33%;
    border: 2px solid #0D1117;
    padding: 20px;
}

.analises img {
    width: 150px;
    filter: invert(100%);
    margin: 10px 0;
}

.analises p.nome {
    font-size: 1.2em;
}

#curiosidades {
    display: flex;
}

#curiosidades .titulo {
    font-size: 1.2em;
    margin-bottom: 5px;
}